body {
    margin: 0px;
}



.navbar {
    width: 100%;
    height: 80px;
    background-color: #C0DCFE;
}

.main-block {
    display: flex;
    justify-content: space-between;
    
}
.negr {
    text-align: center;
    font-size: 35px;

}

.privet p {
    padding-left: 30px;
    font-size: 25px;
}

.navbar-brand {
    font-size: 40px;
    margin-left: 20px;
	font-weight: 800;
	text-decoration: none;
	color: #050971;
	padding: 10px 30px;
    opacity: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.emoji {
    padding-left: 60px;
    padding-top: 30px;
}

header {
    color: #050971;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.tg:hover {
    transform: scale(1.04);
    transition: all .2s ease-in-out;
}

.wa {
    border-radius: 5px;
}

.wa:hover {
    transform: scale(1.04);
    transition: all .2s ease-in-out;
}


.vk:hover {
    transform: scale(1.04);
    transition: all .2s ease-in-out;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrap {
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar-wrap li {
    font-size: 30px;
    list-style-type: none;
    display: block;
    float: left;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #050971;
}

.text {
    opacity: 0.9;
}

.text:hover {
    opacity: 0.6;
}

.emoji {
    display: inline;
    margin-left: 30px;
}

.main-text {
    width: 700px;
    height: 550px;
    float: right;
    font-size: 26px;
    text-align: justify;
    margin-right: 150px;
    margin-top: 100px;
    min-height: 550px;
    overflow-y: hidden;
}

.people {
    width: 100%;
    height: 90vh;
}

.text-yslug h2 {
    width: 660px;
    padding-top: 30px;
    color: #050971;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

.yslygi {
    width: 100%;
    height: 80vh;
    background-color:#C0DCFE;
    display: flex;
    justify-content: center;
}

.chert {
    height: 80vh;
    width: 70vh;
}

.spisok{
    line-height:50px;
    list-style: none;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spisok::before{
    content: "- ";
}

.practica {
    width: 100%;
    height: 100vh;
}

.text-yslug {
    padding-left: 50px;
}

.ulka {
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.ulka2-1 {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 120px;
}

.ulka2-2 {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 120px;
}


.main-cont {
    display: flex;
    flex-direction: row;
    padding: 50px 50px 50px 50px;
    gap: 500px;
}

.main-cont2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 50px 50px 50px;
    gap: 500px;
}

.filosophia {
    height: 70vb;
    background-color: #C0DCFE;
}

.family {
    display: flex;
    flex-direction: row;
    gap: 450px;
}

.ulka4 {
    padding-top: 10px;
}

.filosophia h1 {
    margin: 0;
    top: 40px;
    padding: 30px 40px;
}

.ulka4-2 {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 120px;
    border: 1px solid black;
}

.mini-cont3 {
    display: flex;
    justify-content: space-between;
}

.ouryslugi h1 {
    width: fit-content;
    height: fit-content;
    padding-left: 150px;
    padding-top: 230px;
    border: 1px solid black;
}

img {
    border: 1px solid black;
}

.chert5 {
    margin-top: -2%;
}

.textp {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
    font-size: 40px;
}